/* =============================================================================================== */
/* Global  */
:root {
  --body-bgc: rgb(60, 60, 60);
  --body-bgc-darker: rgb(50, 50, 50);
  --card-bgc: rgb(114, 114, 114);
  --clear-color: #eeeeee;
  --red-color: #ec1616e5;
  --red-clear-color: #ec1616;
  --divisory-line: #ffffff42;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--body-bgc);
  color: var(--clear-color);
  font-family: "Montserrat", sans-serif;
}
button {
  cursor: pointer;
}
.template__button {
  background-color: var(--red-color);
  color: var(--clear-color);
  box-shadow: 0 0 5px var(--square-color);
  border: 1px solid #00000049;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 40px;
  font-weight: 500;
  margin: 10px 4px;
}
.template__button:hover {
  transform: scale(0.95);
  background-color: var(--red-clear-color);
}
.template__button:active {
  transform: scale(0.85);
}
/* =============================================================================================== */
/* Logo  */
#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: var(--body-bgc-darker);
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--divisory-line);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
h1 {
  color: var(--clear-color);
}
h1 span {
  color: var(--red-color);
}
/* =============================================================================================== */
/* Content  */
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* =============================================================================================== */
/* Searchbar  */
#searchbar__container {
  background-color: var(--body-bgc-darker);
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--divisory-line);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
#searchbar {
  padding: 6px 24px;
  font-size: 20px;
  border: 1px solid var(--);
  color: var(--clear-color);
  border: 1px solid var(--divisory-line);
  border-radius: 6px;
  background-color: var(--body-bgc-darker);
}
#search__button {
  background-color: var(--red-color);
  color: var(--clear-color);
  border: 1px solid var(--divisory-line);
  font-size: 20px;
  padding: 6px 24px;
  border-radius: 6px;
  font-weight: 700;
  margin-left: 10px;
}
#search__button::placeholder {
  color: var(--clear-color);
}
#search__button:hover {
  transform: scale(0.95);
  background-color: var(--red-clear-color);
}
#search__button:active {
  transform: scale(0.85);
}
/* =============================================================================================== */
/* Info  */
.info__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bgc-darker);
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--divisory-line);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 519.02px;
}
.info__box h3 {
  font-size: 28px;
  border: 1px solid var(--divisory-line);
  border-radius: 4px;
  background-color: var(--body-bgc);
  padding: 0 60px;
}
.weather_hail {
  width: 100px;
  margin: 10px 0;
}
